body {
    background-color: #E4E4E4;
    padding: 20px;
}

#box {
    width: 900px;
    margin: 0 auto;
    border: 1px solid #999;
    position: relative;
    padding: 20px;
    background-color: #FFF;
    text-align: center;
    box-shadow: 1px 5px 10px #666666;
}

#box img {}

#box #title {
    width: 900px;
    height: 80px;
    background-color: #EEE;
    font-size: 50px;
    font-family: "微軟正黑體";
    line-height: 80px;
    text-align: center;
    color: #666;
}

#box:hover #title {
    font-size: 55px;
    color: #000;
}