@import url("reset.css");
body {
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
}

#top-out {
    width: 100%;
    height: 60px;
    background-color: #E75F08;
}

#top-out .nav {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
}

#top-out .nav h3 {
    color: #FFF;
    line-height: 60px;
    float: left;
    text-transform: uppercase;
}

#top-out .nav ul {
    float: right;
}

#top-out .nav li {
    float: left;
    margin-left: 10px;
}

#top-out .nav li a {
    display: block;
    line-height: 60px;
    padding: 0 20px;
    color: #FFF;
    text-decoration: none;
}

#top-out .nav li a:hover {
    color: #FC0;
}

#banner-out {
    width: 100%;
    height: 300px;
    background-color: #FAB65C;
}

#banner-out .banner {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    background-image: url(images/banner.jpg);
}

#banner-out .banner h3 {
    padding-top: 100px;
    padding-left: 30px;
    color: #FFF;
    font-size: 50px;
    letter-spacing: 5px;
}

#banner-out .banner h4 {
    font-size: 16px;
    padding-left: 30px;
    color: #FFF;
    letter-spacing: 3px;
}

#content {
    /*width:1200px;*/
    width: 1140px;
    margin: 0 auto;
    padding: 30px;
}

#content h1 {
    font-size: 24px;
    padding-bottom: 16px;
}

#content p {
    font-size: 15px;
    line-height: 1.8;
    padding-bottom: 16px;
    text-align: justify;
}

#down-out {
    width: 100%;
    height: 60px;
    background-color: #E75F08;
}

#down-out #down {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
}

#down-out #down h3 {
    color: #FFF;
    line-height: 60px;
    font-weight: normal;
    float: left;
}

#down-out #down h4 {
    color: #FFF;
    line-height: 60px;
    font-weight: normal;
    float: right;
}

#down #ad-box {
    position: fixed;
    /*絕對座標*/
    /*會產生 Z 軸，獨立在所有的網頁內容之上*/
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none; /*一開始先把廣告隱藏*/
}

#down #ad-box img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}