* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
    background-color: #09C;
    border-top: 70px solid #369;
    margin-bottom: 80px;
}

#top {
    width: 1200px;
    height: 70px;
    margin: 0 auto;
    background-color: #369;
    margin-top: -70px;
}

#top h3 {
    line-height: 70px;
    color: #FFF;
    font-weight: normal;
    letter-spacing: 2px;
}

#top a {
    color: #FFF;
    text-decoration: none;
}

#top a:hover {
    color: lightskyblue;
}

h1 {
    text-align: center;
    color: #FFF;
    font-size: 50px;
    padding-top: 70px;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    color: #FFF;
    font-size: 20px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

ul {
    width: 1160px;
    margin: 0 auto;
    list-style: none;
    overflow: hidden;
}

li {
    float: left;
    margin-left: 40px;
    margin-bottom: 40px;
}

li:nth-child(4n+1) {
    margin-left: 0px;
}

li a {
    display: block;
    border: 10px solid #eee;
}

li img {
    display: block;
}

div.black {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);
}

div.black img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 10px solid #eee;
}

div.hide {
   transition: 1s;
   margin-top: -1500px;
}

div.fadeIn {
    transition: 1s;
    margin-top: 0px;
}